/*Default Style for Abundatrade Calculator plugin 12-11-12*/


#abundatrade {
    position: relative !important;
    display: block !important;
    width: 90% !important;
    height: auto !important;
    margin: auto !important;
}


.left {
      float: left !important;
}

.right {
      float: right !important;
}

.upc_small {
    font-size: x-small !important;
}



#abundatrade a {
    color: #10A3E8 !important;
    cursor: pointer !important;
    font-size: 16px !important;
}

    #abundatrade a:hover {
        text-decoration: underline !important;
    }

.calc_content_wrap {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 4px !important;
    z-index: 1 !important;
    /*color: #ffffff !important;*/
    text-align: left !important;
    font-weight: bold !important;
    font-size: 18px !important;
    clear: none !important;
}

.center {
    text-align: center !important;
}

.txtright {
    text-align: right !important;
    padding-right: 8px !important;
}

.bottomcurve {
    clear: both !important;
    height: 25px !important;
    width: 100% !important;
    -moz-border-radius-bottomright: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -khtml-border-radius-bottomright: 10px !important;
    -khtml-border-radius-bottomleft: 10px !important;
    margin-bottom: 0 !important;
}

/*********** SECTION 1 **********/

#top_input_section {
    margin: 0 !important;
    float: left !important;
    width: 99% !important;
    clear: none !important;
    -moz-border-radius-topright: 15px !important;
    -moz-border-radius-topleft: 15px !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    -webkit-border-top-left-radius: 15px !important;
    -webkit-border-top-right-radius: 15px !important;
    -khtml-border-radius-topright: 15px !important;
    -khtml-border-radius-topleft: 15px !important;
    height: auto !important;
    margin-bottom: -15px !important;
    padding: 0 4px !important;
}

#gadget_abundatrade {
    margin: 0 !important;
    float: left !important;
    width: 99% !important;
    clear: none !important;
    -moz-border-radius-topright: 15px !important;
    -moz-border-radius-topleft: 15px !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    -webkit-border-top-left-radius: 15px !important;
    -webkit-border-top-right-radius: 15px !important;
    -khtml-border-radius-topright: 15px !important;
    -khtml-border-radius-topleft: 15px !important;
    height: auto !important;
    margin-bottom: -15px !important;
    padding: 0 4px !important;
}

    #gadget_abundatrade div.input_container {
        clear: none !important;
        float: left !important;
        height: auto /*45px*/ !important;
        margin: 0px 5px 0 20px !important;
        padding-top: 0px !important;
        width: auto !important;
    }

    #gadget_abundatrade div.label {
        float: left !important;
        margin: 13px 6px 0 0 !important;
        clear: none !important;
    }

    #gadget_abundatrade div.input_container div.product_holder {
        width: 175px !important;
        height: 45px !important;
        float: left !important;
        margin-right: 12px !important;
        z-index: 1 !important;
        margin: 0 !important;
        padding: 0 !important;
        display: block !important;
        clear: none !important;
    }

    #gadget_abundatrade div.product_holder #gadget_code {
        background: white !important;
        border: medium none !important;
        height: 30px !important;
        margin-left: 16px !important;
        margin-top: 4px !important;
        width: 150px !important;
        z-index: 1 !important;
        clear: none !important;
    }

    #gadget_abundatrade div.product_holder #header_condition {
        background: white !important;
        border: medium none !important;
        height: 30px !important;
        margin-left: 16px !important;
        margin-top: 4px !important;
        width: 150px !important;
        z-index: 1 !important;
        clear: none !important;
    }

    #gadget_abundatrade div.submit_holder {
        float: right !important;
        width: 140px !important;
        height: 40px !important;
        margin: 0px 10px 15px 5px !important;
        padding-top: 5px !important;
        clear: none !important;
    }

#top_input_section div.input_container {
    clear: none !important;
    float: left !important;
    height: auto /*45px*/ !important;
    margin: 0px 5px 0 20px !important;
    padding-top: 0px !important;
    width: auto !important;
}

#top_input_section div.label {
    float: left !important;
    margin: 13px 6px 0 0 !important;
    clear: none !important;
}

#top_input_section div.input_container div.product_holder {
    width: 175px;
    height: 45px !important;
    float: left !important;
    margin-right: 12px !important;
    z-index: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    clear: none !important;
}

#top_input_section div.product_holder #product_code {
    background: white !important;
    border: medium none !important;
    height: 30px !important;
    margin-top: 4px !important;
    width: 150px;
    z-index: 1 !important;
    clear: none !important;
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -khtml-border-radius: 50px !important;
    border-radius: 50px !important;
}


#top_input_section div.input_container div.qty_holder {
    width: 80px !important;
    height: 45px !important;
    float: left !important;
    top: 5px !important;
    margin-left: 4px !important;
    z-index: 1 !important;
    clear: none !important;
}

#top_input_section div.qty_holder #product_qty {
    background: white !important;
    border: none !important;
    width: 60px !important;
    height: 30px !important;
    margin-top: 4px !important;
    margin-left: 10px !important;
    clear: none !important;
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -khtml-border-radius: 50px !important;
    border-radius: 50px !important;
}


#top_input_section div.submit_holder {
    float: right !important;
    width: 140px !important;
    height: 40px !important;
    margin: 0px 10px 15px 5px !important;
    padding-top: 5px !important;
    clear: none !important;
}


.btn1 {
    clear: none !important;
    font-size: 17px !important;
    font-weight: bold !important;
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 130px !important; /**/
    padding: 4px 16px !important;
    text-align: center !important;
    border: 2px solid #fff !important;
    cursor: pointer !important;
    vertical-align: middle !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -khtml-border-radius: 20px !important;
    border-radius: 20px !important;
}

    .btn1:hover {
        background: transparent !important;
        text-decoration: none !important;
    }

/*SECTION 1 for Bulk Items*/

#bulk_button {
    float: left !important;
    width: 99% !important;
    margin-bottom: 6px !important;
    margin-top: 0px !important;
    padding: 0px 4px 15px 4px !important;
    text-align: left !important;
    -moz-border-radius-bottomright: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    vertical-align: middle !important;
    height: 25px !important; /**/
}

.abunda_text {
    width: 80% !important;
    margin-left: 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    clear: none !important;
    vertical-align: middle !important;
    text-align: left !important;
}

.abunda_text2 {
    width: 99% !important;
    margin-left: 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    clear: none !important;
    vertical-align: middle !important;
    text-align: left !important;
    margin-bottom: 10px !important;
}

.abunda_text a {
    text-decoration: underline !important;
}

.abundatrade_error {
    color: red !important;
    font-weight: bold !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}


#bulk {
    float: left !important;
    width: 99% !important;
    margin-bottom: -20px !important;
    text-align: center !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -khtml-border-radius: 15px !important;
    vertical-align: middle !important;
    display: none !important;
    padding: 15px 5px !important;
}

    #bulk pre {
        color: black !important;
        width: 33% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: left !important;
    }

#bulk_help {
    width: 91% !important;
    text-align: center !important;
}

#bulk_upload {
    width: 33% !important;
    line-height: 20px !important;
}

.marleft {
    float: left !important;
    margin: 15px 0 0 15px !important;
}

.marright {
    float: right !important;
    margin: 15px 15px 0 0px !important;
}

/*********** SECTION 2 **********/

#second_content {
    margin: 0px 0 0 0 !important;
    float: left !important;
    width: 99% !important;
    -moz-border-radius-topright: 15px !important;
    -moz-border-radius-topleft: 15px !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    -webkit-border-top-left-radius: 15px !important;
    -webkit-border-top-right-radius: 15px !important;
    -khtml-border-radius-topright: 15px !important;
    -khtml-border-radius-topleft: 15px !important;
    padding: 0 4px 0 5px !important;
}

    #second_content label {
        font-size: 18px !important;
    }
    /*new*/

    #second_content .second_content_sec1 {
        width: 150px !important;
        margin: 10px 0 0 12px !important;
        padding: 7px !important;
        float: left !important;
        clear: none !important;
        font-size: 18px !important;
        display: inline !important; /*new*/
    }

    #second_content .second_content_sec2 {
        width: 280px !important;
        margin-top: 10px !important;
        padding: 7px 0 7px 7px !important;
        float: left !important;
        clear: none !important;
        font-size: 18px !important;
        display: inline !important; /*new*/
    }

    #second_content .second_content_sec3 {
        margin: 3px 18px 0 36px !important;
        padding: 7px 0 !important;
        float: none !important;
        display: inline-block !important;
        clear: none !important;
        font-size: 18px !important;
        color: White !important;
        z-index: 1 !important;
    }

    #second_content .second_content_sec4 {
        float: right !important;
        margin: 3px 18px 0 0 !important;
        padding: 3px 0 !important;
        /* display: inline-block !important; */
        clear: none !important;
        font-size: 18px !important;
        color: white !important;
    }

#submitList {
    clear: none !important;
    font-size: 17px !important;
    font-size: 1.0em !important;
    font-weight: normal !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 5px 8px !important;
    text-align: center !important;
    border: 2px solid #9c9 !important;
    cursor: pointer !important;
    vertical-align: middle !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -khtml-border-radius: 20px !important;
    border-radius: 20px !important;
}

#BeatAll {
    clear: none !important;
    font-size: 17px !important;
    font-size: 1.0em !important;
    font-weight: normal !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 5px 8px !important;
    border: 2px solid #fff799 !important;
    cursor: pointer !important;
    vertical-align: middle !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -khtml-border-radius: 20px !important;
    border-radius: 20px !important;
    float: right !important;
}

    #BeatAll:hover {
        background: #724b05 !important;
        text-decoration: none !important;
    }

#submitList:hover {
    background: transparent !important;
    text-decoration: none !important;
}


.second_content_sec1 label {
    width: 110px !important;
    float: left !important;
    clear: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.second_content_sec2 div {
    float: left !important;
    border: 0 !important;
    clear: none !important;
}


.second_content_sec3 img {
    float: right !important;
    border: 0 !important;
    clear: none !important;
}

.second_content_sec2 label {
    width: 200px !important;
    float: left !important;
    clear: none !important;
    margin: 0 !important;
    padding: 0 !important;
}



.second_content_sec1 div {
    clear: none !important;
}

#abundaInput {
    /* margin: 0 !important;
    clear: none !important;*/
}

/*
------------------------------
SECTION 3 & 4 - Table 
------------------------------
*/

#content table {
    border: 0px solid #E7E7E7 !important;
    margin: 0 0px 0px 0 !important;
    text-align: left !important;
    width: 100% !important;
}

#abundaCalcTbl {
    width: 100% !important;
    /*margin-bottom: 18px !important;*/
    margin-top: 8px !important;
    margin-left: 3px !important;
    clear: none !important;
    float: left !important;
}

    /* ---------SECTION 3 - Table Header------------*/

    #abundaCalcTbl thead th {
        height: 35px !important;
        border: 1px solid silver !important; /**/
        padding: 6px 3px 2px 3px !important;
        font-weight: bold !important;
        font-size: 16px !important;
        text-align: center !important;
        vertical-align: middle !important;
        text-transform:none;
    }

        #abundaCalcTbl thead th.delete {
            text-align: center !important;
            border-right: 0 !important;
        }

        #abundaCalcTbl thead th a:hover {
            text-decoration: none !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }

        #abundaCalcTbl thead th a {
            text-decoration: none !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }

    /* -------Table Body---------- */

    #abundaCalcTbl tbody tr {
        background: #ffffff !important;
    }

.td_image {
    float: left !important;
    height: 98% !important;
    min-width: 90px !important;
}

    .td_image img {
        margin-left: auto !important;
        margin-right: auto !important;
    }

.td_details {
    float: left !important;
    width: 73% !important;
    height: 98% !important;
    text-align: left !important;
}

#abundaCalcTbl tbody {
    max-height: 400px !important;
    border-left: 1px #CCC solid !important;
}

    #abundaCalcTbl tbody td {
        border-right: 1px solid silver !important;
        border-bottom: 1px solid silver !important;
        padding: 3px 8px 2px 6px !important;
        color: #333 !important;
        font-size: 14px !important;
        text-align: center !important;
        vertical-align: middle !important;
    }

        #abundaCalcTbl tbody td.upc {
            width: 95px !important;
        }

        #abundaCalcTbl tbody td.quantity {
            width: 40px !important;
        }

        #abundaCalcTbl tbody td.item {
            width: 95px !important;
            text-align: right !important;
        }

            #abundaCalcTbl tbody td.item div {
            }

        #abundaCalcTbl tbody td.values {
            width: 80px !important;
            text-align: right !important;
        }

        #abundaCalcTbl tbody td.delete {
            width: 70px !important;
        }

.blatent {
    color: black !important;
    font-weight: bold !important;
    text-align: center !important;
}

/* --------- SECTION 4 - Table Footer ---------- */

#abundaCalcTbl tfoot {
    height: 45px !important;
}


    #abundaCalcTbl tfoot th {
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0px solid silver !important;
        height: 0px !important;
        padding: 18px 5px 4px 5px !important;
        font-weight: bold !important;
        font-size: 15px !important;
        text-align: left !important;
    }

        #abundaCalcTbl tfoot th.thxpad {
            padding-left: 23px !important;
        }

        #abundaCalcTbl tfoot th a {
            text-decoration: none !important;
            font-size: 16px !important;
            font-weight: bold !important;
        }

            #abundaCalcTbl tfoot th a:hover {
                text-decoration: none !important;
                font-size: 16px !important;
                font-weight: bold !important;
            }


/*
------------------------------------------
       CSS for Style Customization
------------------------------------------
*/

/* ---SECTION 1--- */

.calcbg1 {
    background: #A5A5A5 !important;
}

#abundatrade .calc_color1 {
    color: #000 !important;
}

.btnbg1 {
    background: #efefef !important;
}

#abundatrade .btn_link1 {
    color: #444 !important;
    text-decoration: none !important;
    float: right !important;
}

#abundatrade .calc_linkS1 {
    color: #000 !important;
    text-decoration: underline !important;
}

    #abundatrade .calc_linkS1:hover {
        text-decoration: none !important;
    }

/* ---SECTION 2 & 4--- */

.calcbg2 {
    background: #004A7A !important;
}

#abundatrade .calc_color2 {
    color: #fff !important;
}

.btnbg2 {
    background: #537b35 !important;
}

#abundatrade .btn_link2 {
    color: #fff !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.btnbg3 {
    background: #bc7c09 !important;
}

#abundatrade .btn_link3 {
    color: white !important;
    font-weight: bold !important;
    text-decoration: none !important;
    margin-right: 25px !important;
}

    #abundatrade .btn_link3 :hover {
        color: black !important;
    }

#abundatrade .calc_linkS4 {
    color: yellow !important;
    text-decoration: none !important;
}

    #abundatrade .calc_linkS4:hover {
        color: yellow !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }

/* ---SECTION 3--- */

.calcbg3 {
    background: #ddd !important;
}

#abundatrade .calc_color3 {
    color: #000 !important;
}

#abundatrade .calc_linkS3 {
    color: #660000 !important;
    text-decoration: none !important;
}

    #abundatrade .calc_linkS3:hover {
        text-decoration: underline !important;
        cursor: pointer !important;
    }


#search_results_list {
    position: absolute !important;
    background: white !important;
    left: 207px !important;
    top: 69px !important;
    width: 75% !important;
    height:auto !important;
    display:none !important;
}

.searchHeader {
    background-color:#6699ff !important;
    color:#ffffff !important;
    border:#cccccc 1px solid !important;
    font-weight:bold !important;
    font-size:15px !important;
}

.search_results_li {
    margin-bottom: 0px !important;
    margin-top: -1px !important;
    margin-left: 0px !important;
}

    .search_results_li li {
        list-style: none !important;
        display: block !important;
        padding: 2px !important;
        font-weight: normal !important;
        font-size: 15px !important;
    }

.inlineblock {
    display:inline-block !important;
    padding-left:5px !important;
}

.search_result_row {
    background-color: #ffffff !important;
    color: #333333 !important;
    border-left: #cccccc 1px solid !important;
    border-right: #cccccc 1px solid !important;
    border-bottom: #cccccc 1px solid !important;
}

    .search_results_li :hover {
        background-color:#ddd !important;
        cursor:default !important;
    }

    .search_result_row a {
        text-decoration: none !important;
        color: #333 !important;
        cursor:default !important;
    }
