.calchead {
    width: auto;
    height: auto;
    background-color: #ccc;
    border-bottom: thick solid gray;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.searchby {
    float: left;
    padding-right: 10px;
}

.upcetc {
    float: left;
    margin-right: 40px;
    margin-top: 14px;
}

.upcinputbox {
    width: 100%;
    padding: 10px;
    border: 0px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #e8e8e8;
}

.quantitybox {
    float: left;
    padding-right: 10px;
}

.quantitylabel {
    margin-top: 17px;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
}

    .quantitylabel span {
        margin-right: 10px;
    }

.quantityinputbox {
    width: 20px;
    height: 20px;
    border: 0px;
    font-family: inherit;
    background-color: #e8e8e8;
    padding: 7px;
}

.addbuttonbox {
    float: left;
    margin-top: 17px;
    padding-right: 20px;
}

    .addbuttonbox input[type="submit"] {
        background: none;
        border: none;
        background-color: #999;
        color: #fff;
        font-family: Arial;
        font-size: 12px;
        font-weight: normal;
        padding: 8px;
        text-decoration: none;
    }

        .addbuttonbox input[type="submit"] :hover {
            background: none;
            border: none;
            background-color: #333;
            color: #fff;
            font-family: Arial;
            font-size: 12px;
            font-weight: normal;
            padding: 7px;
            text-decoration: none;
        }

.bulkuploadbox {
    float: left;
    padding-right: 20px;
    font-size: 10px;
    font-style: italic;
    margin-top: 21px;
}

    .bulkuploadbox a {
        color: #006699;
    }

.prevaluationbox {
    height: auto;
    color: #000;
    font-weight: bold;
    margin-top: 15px;
    float: left;
}

/* -------Table Body---------- */

.abundaCalcTbl tbody tr {
    background: #fff !important;
    width: 874px;
    text-align: left;
}

.td_image {
    float: left !important;
    height: 98% !important;
    min-width: 90px !important;
}

    .td_image img {
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 8px;
    }

.td_details {
    float: left !important;
    width: 73% !important;
    height: 98% !important;
    text-align: left !important;
    font-size: 12px;
    padding: 8px;
}

.abundaCalcTbl tbody {
    max-height: 400px !important;
    border-left: 1px #CCC solid !important;
    text-align: left;
}

    .abundaCalcTbl tbody td {
        border-right: 1px solid silver !important;
        border-bottom: 1px solid silver !important;
        padding: 3px 8px 2px 6px !important;
        color: #333 !important;
        font-size: 14px !important;
        text-align: left !important;
        vertical-align: middle !important;
        width: 874px;
    }

        .abundaCalcTbl tbody td.upc {
            width: 95px !important;
            text-align: left;
        }

        .abundaCalcTbl tbody td.quantity {
            width: 40px !important;
            text-align: center !important;
        }

        .abundaCalcTbl tbody td.item {
            width: 95px !important;
            text-align: right !important;
        }

            .abundaCalcTbl tbody td.item div {
            }

        .abundaCalcTbl tbody td.values {
            width: 80px !important;
            text-align: center !important;
        }

        .abundaCalcTbl tbody td.delete {
            width: 70px !important;
            text-align: center !important;
        }

.addbutton {
    border: none !important;
    padding: 7px !important;
    background-color: #999 !important;
}

.blatent {
    color: black !important;
    font-weight: bold !important;
    text-align: center !important;
}

/* Product Details */

#abundaCalcTbl {
    width: 870px;
    border-spacing: 0px;
}

/*Very Bottom*/
#very_bottom {
    width: auto;
    height: 37px;
    background-color: #ccc;
    border-top: solid thick gray;
}

    #very_bottom div {
        padding: 7px 20px;
        float: right;
    }

.likebutton {
    border: 1px solid #dcdcdc;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #999;
    padding: 3px;
    cursor: default;
}

/* Bulk Upload */

#bulk {
    background-color: #666;
    border: medium solid #999;
    display: none;
}

#bulk_help {
    margin: auto;
    width: 25%;
    padding: 7px;
    margin-top: 25px;
    background-color: #999;
    text-align: justify;
    color: #fff;
}

#bulk_text_holder {
    margin:auto;
    width:22%;
}

#bulk_button_holder {
    margin:auto;
    width:22.5%;
    margin-top:11px;
}
